<section class="banner">
    <article class="banner__box-text">
        <h1 class="banner__box-text__title">El arte de la Gastronomía.</h1>
        <a class="banner__box-text__button" type="button">Mostrar mas</a>
    </article>
</section>