@import "./minifi.css";

@import "./root.css";
@import "./utilities.css";

@import "./swich.css";
@import "./navigation.css";
@import "./banner.css";
@import "./footer.css";
@import "./card.css";
@import "./title.css";
@import "./buttonBorder.css";
@import "./books.css";
@import "./input.css";
@import "./cartPost.css";
@import "./post.css";

.blog {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-inline: 4rem;
}


/* Extra small devices (phones, 600px and down) */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (width >= 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (width >= 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (width >= 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (width >= 1200px) {...}  */
